@import url(../../../styles.css);

main {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    padding-top: 10vh;
    gap: 1rem;
}

.left, .right {
    border-radius: 10px;
    color: var(--text-100);
}

.left {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    padding: 2em;
    margin-bottom: 10em;
    gap: 1em;
}

.right {
    background-color: var(--background-900);
    border-radius: 1em;
    color: var(--text-100);
    grid-column-start: 2;
    padding: 2em;
    width: 40%;
    overflow-y: scroll;
    height: 100%;

    div:nth-of-type(1) {
        margin-bottom: 1em;
      }
}

.profilbild{
    width: 50%;
    height:  50%;
    border-radius: 50%;
    object-fit: cover;
}

.flex-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
    background-color: var(--background-900);
    padding: 2em;
    gap: 1em;
}


.nutzername{
    font-size: 1.5em;

}

.bio {
    font-size: 2em;
    font-weight: bold;
}

.bio-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1em;
    width: 100%;
}

button{
    display: flex;
    justify-content: center;
    padding: 0.5em;
    width: 40%;
    height: auto;
}

.knopf{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.cover {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 20%;
}

.inputfelder{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border: none;
}
