<main>

    <div class="left">

        <div class="knopf">
            <button
                type="button" 
                class="btn btn-secondary" 
                data-bs-toggle="modal" 
                data-bs-target="#createCard"
                routerLink="/"
                routerLinkActive="active">
                Zurück zur Startseite
            </button>

            <button
                type="button" 
                class="btn btn-secondary" 
                data-bs-toggle="modal" 
                data-bs-target="#createCard"
                routerLink="/editProfil"
                routerLinkActive="active">
                Profil bearbeiten
            </button>
        </div>

        <div class="flex-container">
            <img
        class="cover"
          [ngSrc]="
          postImage != null ? postImage : '../../../assets/svg/placeholder.svg'
        "
          alt="post"
          height="40"
          width="40"
        />
            <h5 class="card-title">{{name}}</h5>
            <a >&#64;{{userName}}</a>
            
            <div class="bio-container">
                <p class="bio">About me:</p>
                <p class="card-text"><strong> Stadt:</strong> {{stadt}}</p>
                <p class="card-text"><strong> Bio:</strong> {{bio}}</p>
            </div>
        </div>
    </div>

    <div class="right">
        @if (items.length === 0) {
            <div class="island">
                <h3>Keine Posts vorhanden</h3>
            </div>
        }
        @else if (items.length > 0) { @for (item of items; track item){ <app-card [item]="item"></app-card>
            }
            }

    </div>
</main>
