@import url(../../../styles.css);


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
}

.left, .right {
    background-color: var(--background-900);
    border-radius: 10px;
    color: var(--text-100);
}

/* Optional: Fügen Sie etwas Platz zwischen den Divs hinzu */
.left {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 25%;
    height: auto;
    padding: 2em;
    gap: 1em;

}

.right {
    margin-left: 10px;
    padding: 2em;
    width: 40%;
}

.profilbild{
    width: 50%;
    height:  50%;
    border-radius: 50%;
    object-fit: cover;
}

.flex-container{
    display: flex;
    align-items: center;
    gap: 1em;
}

.nutzername{
    font-size: 1.5em;

}

.bio {
    font-size: 2em;
    font-weight: bold;
}