.card-holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.3em;
  grid-row-gap: 0.3em;
  padding: 0.3em;

  .text-card {
    grid-area: 1 / 1 / 2 / 3;
    background: repeating-linear-gradient(
        0deg,
        #e1e5ed 0,
        #e1e5ed 20%,
        transparent 0,
        transparent 50%
      ),
      repeating-linear-gradient(
        135deg,
        #dbdfe8 0,
        #dbdfe8 10%,
        transparent 0,
        transparent 50%
      );
    background-size: 2em 2em;
    background-color: #e1e5ed;

    div {
      display: flex;
    }
  }

  /* Song-Card */
  div:nth-of-type(2) {
    grid-area: 2 / 2 / 3 / 4;
    background: radial-gradient(
        circle at bottom left,
        transparent 25%,
        #dbdfe8 25.5%,
        #dbdfe8 36%,
        transparent 37%,
        transparent 100%
      ),
      radial-gradient(
        circle at top right,
        transparent 34%,
        #dbdfe8 34.5%,
        #dbdfe8 45.5%,
        transparent 46%,
        transparent 100%
      );
    background-size: 2em 2em;
    background-color: #e1e5ed;
  }

  div:nth-of-type(3) {
    grid-area: 1 / 3 / 2 / 4;
  }

  /* Emojie-Card */
  div:nth-of-type(4) {
    grid-area: 2 / 1 / 3 / 2;
    background: radial-gradient(
      #dbdfe8 20%,
      transparent 21%,
      transparent 79%,
      #dbdfe8 80%
    );
    background-size: 2em 2em;
    background-color: #e1e5ed;
  }

  div:nth-of-type(5) {
    grid-area: 1 / 4 / 3 / 5;
    min-height: 22em;
  }

  .emojie-card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 600%;
  }
}

.meta-wraper {
  display: flex;
  justify-content: space-between;
  color: var(--bk-ligth);
  padding: 0 2.4em;

  > div {
    padding: 0.2em;
    border: 1px solid var(--bk-ligth);
    border-top: none;
    border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .user {
    p {
      margin: 0;
    }
  }

  .reaction {
    div:not(:first-of-type) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 0.4em;
    }

    .divider {
      border-right: 1px solid var(--bk-ligth);
      height: 80%;
      margin: auto;
    }

    button {
      color: var(--bk-ligth);
    }
  }
}

.color-holder {
  border-radius: var(--bs-border-radius);
  height: 100%;
  width: 100%;
}
