@import url(../../../../../src/styles.css);


.sozial {
  position: fixed;
  width: 25vw;
  height: 90%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 0rem 0rem 1rem 2rem;

  div:nth-of-type(1) {
    flex-grow: 17;
  }

  div:nth-of-type(2) {
    flex-grow: 0.5;
  }
}

.profil-card{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: var(--bs-card-color);
  padding: 0.5em;
  margin-left: 15%;
}

.card-body{
  display: flex;
  flex-direction: column;
  color: var(--text-100);
  gap: 1rem;
  margin-left: 5%;
}

.card-img-top {
  width: 25%;
  height: auto;
  object-fit: cover;
  padding-top: 0.3rem;
  border-radius: 50%; 
}

.btn-secondary {
  width: 30%;
  border-color: var(--primary-800);
  color: var(--text-100);
}

.card button{
  width: 40%;
  padding: 0.2em;
}
