<div class="sozial">
  <div class="friends island">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createCard">
      <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#000000" class="bi bi-people-fill">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
          <path fill-rule="evenodd"
            d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z">
          </path>
          <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"></path>
        </g>
      </svg>
      Freunde hinzufügen
    </button>
    <div class="spacer">
    </div>
    <div class="friendcards">
      <div class="devided-button-island">
        <div class="button-one">
          @if (showFriends === ShowFriendsType.VORSCHLAG) {
            <button (click)="getNotFollowedUsers()" appearance="outline" tuiButton type="button">
              Vorschläge
            </button>
          } @else {
            <button (click)="getNotFollowedUsers()" appearance="flat" tuiButton type="button">
              Vorschläge
            </button>
          }
        </div>
        <div class="button-two">
          @if (showFriends === ShowFriendsType.FREUNDE) {
          <button (click)="getFollowedUsers()" appearance="outline" tuiButton type="button">
            Freunde
          </button>
          } @else {
            <button (click)="getFollowedUsers()" appearance="flat" tuiButton type="button">
              Freunde
            </button>
          }
        </div>
      </div>
      @if (users?.length! === 0) {
      <div class="nofriendcards">
        <h3 class="nofriends">Noch keine Freunde vorhanden</h3>
      </div>
      }
      @else if (users.length > 0) {
      @for (user of users; track user){
      <div class="arefriendcards">
        <app-friend-card (getUsers)="getUsers()" (fetchPosts)="fetchPosts()" [user]="user" [type]="showFriends">
        </app-friend-card>
      </div>
      }
      }
    </div>
  </div>
  <div class="profil island">
    <div class="profil-card">
      <img
        class="cover"
        [ngSrc]="
          userProfileImage != null ? userProfileImage : 'assets/svg/placeholder.svg'
        "
        alt="post"
        width="50"
        height="50"
      />
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <a href="/profil">&#64;{{userName}}</a>
      </div>
    </div>
    <div class="logout">
      <button
        tuiIconButton
        appearance="flat"
        tuiButton
        icon="tuiIconLogOut"
        (click)="logout()"
      >
      </button>
    </div>
  </div>
</div>
