.name-and-img {
  display: flex;
  padding: 20px;
  height: 4rem;
  width: 15rem;
  flex-direction: row;
  align-items: center;
  min-height: 4rem;
}

.friendcards-inside {
  cursor: pointer;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  padding-right: 20px;
}

.name {
  cursor: pointer;
  padding-top: 3px;
  padding-left: 0.5rem;
}

h5 {
  height: 1.5rem;
  padding-left: 0.5rem;
  display: flex;
}

img {
  border-radius: 50%;
}

.tui-remove div {
  background: green !important;
}
