<main>
  <div class="profil p-4">
    <h4>Profil Name</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, eius non. Architecto omnis, nobis
      voluptatibus reprehenderit odit harum, expedita deserunt officia aspernatur repudiandae, delectus debitis?
      Deserunt odio quisquam nisi perferendis?</p>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Neues
      Board anlegen</button>
  </div>
  <div class="feed">
    <h1>Dein Feed</h1>
    @for (item of items; track item){
    <app-card [item]="item"></app-card>
    }
  </div>
  <div class="sozial p-4">
    <label for="search" class="form-label">Füge deine Freunde hinzu</label>
    <input type="email" class="form-control" id="search" placeholder="Suchen">
    <h4 class="mt-5">Meine Feunde</h4>
  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Mein Board</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-card></app-card>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
        <button type="button" class="btn btn-primary">Neues Board anlegen</button>
      </div>
    </div>
  </div>
</div>


<router-outlet />