main {
  min-width: max-content;
  background-color: var(--background);
}

header {
  position: fixed;
  max-width: 75rem;
  height: 10vh;
  background-color: var(--background);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;

  div {
    height: 40%;
  }

  svg {
    fill: var(--text);
    height: 100%;
  }
}
