.grid-container {
  display: grid;
  grid-template-columns: 3fr 5fr;
  max-width: 70rem;
  height: 100vh;
  margin: 0 auto 0 auto;

  background-color: var(--background);
  padding-top: 10vh;
  gap: 1rem;

  .feed {
    grid-column-start: 2;
    overflow-y: scroll;
    height: 100%;

    div:nth-of-type(1) {
      margin-bottom: 1em;
    }
  }
}
