<main class="grid-container">
  <app-firends-bar (fetchData)="fetchData()"></app-firends-bar>
  <div class="feed">
    <div class="island createBoard">
      <h3>Wie sieht heute dein Board aus?</h3>

      <form [formGroup]="addPostForm">
        <div>
          <tui-input formControlName="text" class="input">
            Dein Satz des Tages
            <input tuiTextfield />
          </tui-input>
        </div>
        <div>
          <!-- <tui-input formControlName="emoje" class="input">
            Emojie des Tages
            <input tuiTextfield />
          </tui-input> -->

          <select
            class="form-select"
            aria-label="Default select example"
            formControlName="emoje"
          >
            <option value="" disabled selected>Emojie des Tages</option>
            <option value="🤙">🤙</option>
            <option value="😀">😀</option>
            <option value="🧑‍💻">🧑‍💻</option>
            <option value="😂">😂</option>
            <option value="😍">😍</option>
            <option value="🤣">🤣</option>
            <option value="😊">😊</option>
            <option value="🙏">🙏</option>
            <option value="😭">😭</option>
            <option value="😘">😘</option>
            <option value="👍">👍</option>
            <option value="😅">😅</option>
            <option value="😢">😢</option>
            <option value="👏">👏</option>
            <option value="🔥">🔥</option>
            <option value="🤔">🤔</option>
            <option value="🥰">🥰</option>
            <option value="😎">😎</option>
            <option value="🤗">🤗</option>
            <option value="🤷">🤷</option>
            <option value="😋">😋</option>
            <option value="😜">😜</option>
            <option value="💪">💪</option>
            <option value="🎉">🎉</option>
            <option value="✨">✨</option>
            <option value="🙌">🙌</option>
            <option value="💖">💖</option>
          </select>

          <tui-input-files
            *ngIf="!fileControl.value"
            accept="image/*"
            class="input"
            [formControl]="fileControl"
          ></tui-input-files>

          <tui-files>
            <tui-file
              (removed)="removeFile()"
              *ngIf="fileControl.valueChanges | async as file"
              [file]="file"
              [showDelete]="fileControl.enabled"
            >
            </tui-file>
          </tui-files>

          <input
            type="color"
            formControlName="color"
            class="form-control-color"
            id="exampleColorInput"
            value="#563d7c"
            title="Choose your color"
          />
        </div>
        <div>
          <tui-input formControlName="artist" class="input">
            Song des Tages - Künstler
            <input tuiTextfield />
          </tui-input>
          <tui-input formControlName="songTitle" class="input">
            Song des Tages - Songtitel
            <input tuiTextfield />
          </tui-input>
        </div>

        <button
          (click)="addPost()"
          [disabled]="!addPostForm.valid && !fileControl.value"
          tuiButton
          type="button"
          class="btn btn-primary"
        >
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.61 2.64548C20.1948 2.19021 21.6568 3.65224 21.2016 5.23705L17.1785 19.2417C16.5079 21.5761 13.3904 22.0197 12.1096 19.9629L10.3338 17.1113C9.84262 16.3226 9.96155 15.2974 10.6207 14.6383L14.4111 10.8479C14.8022 10.4567 14.8033 9.82357 14.4134 9.43373C14.0236 9.04389 13.3905 9.04497 12.9993 9.43614L9.20901 13.2265C8.54987 13.8856 7.52471 14.0046 6.73596 13.5134L3.88412 11.7375C1.82737 10.4567 2.27092 7.33918 4.60532 6.66858L18.61 2.64548Z"
              ></path>
            </g>
          </svg>
        </button>
      </form>
    </div>
    @if (items.length === 0) {
    <div class="island">
      <h3>Keine Posts vorhanden</h3>
    </div>
    } @else if (items.length > 0) { @for (item of items; track item){
    <app-card [item]="item"> </app-card>
    } }
  </div>
</main>
