<div class="mb-3 island">
  <div class="card card-holder">
    <div class="card bk-ligth text-card">
      <div class="card-body">
        <h5>
          {{ item.text }}
        </h5>
      </div>
    </div>

    <div class="card bk-spotify-widget">
      <div class="card-body bk-spotify-widget">
        <img
          [ngSrc]="'assets/svg/Spotify-Icon-Logo.wine.svg'"
          alt="post"
          height="100"
          width="100"
        />
        <div class="musicBox">
          <h5 class="spotify-text">
            {{ item.musicArtist }}
          </h5>
          <h5 class="spotify-text">
            {{ item.musicTitle }}
          </h5 >
        </div>
      </div>
    </div>

    <div class="card p-2 bk-ligth">
      <div [style.background-color]="item.color" class="color-holder"></div>
    </div>

    <div class="card bk-ligth">
      <div class="card-body emojie-card">
        {{ item.emoji }}
      </div>
    </div>

    <div class="card bk-ligth">
      <div class="card-body">
        <img
          [ngSrc]="
          postImage != null ? postImage : 'assets/svg/placeholder.svg'
        "
          alt="post"
          height="250"
          width="120"
        />
      </div>
    </div>
  </div>

  <div class="meta-wraper">
    <div class="user">
      {{ item.user.name }}
    </div>
    <div class="reaction">
        <button class="button-back"
                appearance="flat"
                tuiButton
                (click)="clickEmojiButton(Emoji.PRAYER)"
        >
          🙏 {{ prayerCount }}
        </button>
        <button class="button-back"
                appearance="flat"
                tuiButton
                (click)="clickEmojiButton(Emoji.LAUGHING)"
        >
          😂 {{ laughingCount }}
        </button>
        <button class="button-back"
                appearance="flat"
                tuiButton
                (click)="clickEmojiButton(Emoji.CRYING)"
        >
          😭 {{ cryingCount }}
        </button>
    </div>
  </div>
</div>
