main {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--background);
    padding-top: 10vh;
    gap: 1rem;
  }
  
  .island {
    min-width: 20rem;
    min-height: 20rem;
  }
  
  .island-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 20rem;
  }
  
  .tui-island__title {
    padding-right: 2rem;
  }
  
  .button-back {
    max-width: 2rem;
    max-height: 2rem;
  }
  
  .box-for-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .input {
    padding-top: 1rem;
    min-width: 16rem;
  }
  
  .button-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    padding-top: 0.2rem;
  
  button {
    flex: 1;
    padding: 0.4rem 0.4rem;
    color: antiquewhite;
    border-radius: 0.5rem;
    border-width: 0.1rem 0.1rem 0.1rem 0rem;
    border-color: black;
  }
  }
  