<main>
    <ng-container>
      <div class="island">
        <tui-island>
          <div class="island-wrapper">
            <div class="box-for-button">
              <button class="button-back"
                      routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
                      appearance="flat"
                      tuiIconButton
                      icon="tuiIconChevronLeft"
              >
                Button
              </button>
              <h3 class="tui-island__title">Log In</h3>
            </div>
            <h5 class="tui-island__paragraph">Loggen Sie sich ein!</h5>
            <div class="form-wrapper">
              <form [formGroup]="loginForm">
                <tui-input class="input" formControlName="email">
                  E-Mail
                  <input tuiTextfield />
                </tui-input>
                <tui-input class="input" formControlName="password">
                  Passwort
                  <input tuiTextfield />
                </tui-input>
                <div class="button-wrapper">
                  <button
                    (click)="create()"
                    [disabled]="!loginForm.valid"
                    tuiButton
                    type="button"
                  >
                    Anmelden
                  </button>
                </div>
                <p (click)="routeToRegister()">
                  <u>Noch keinen Account?</u>
                </p>
              </form>
            </div>
          </div>
        </tui-island>
      </div>
    </ng-container>
  </main>


