/* You can add global styles to this file, and also import other style files */
:root {
  --text: #dfe6ec;
  --background: #08121c;
  --primary: #02b6de;

  --text-50: #eff2f5;
  --text-100: #dfe6ec;
  --text-200: #bfcdd9;
  --text-300: #9fb4c6;
  --text-400: #809bb3;
  --text-500: #60829f;
  --text-600: #4d6880;
  --text-700: #394e60;
  --text-800: #192027;
  --text-900: #131a20;
  --text-950: #0a0d10;

  --background-50: #ebf2f9;
  --background-100: #d7e5f4;
  --background-200: #afcce9;
  --background-300: #88b2dd;
  --background-400: #6099d2;
  --background-500: #387fc7;
  --background-600: #2d669f;
  --background-700: #224c77;
  --background-800: #152029;
  --background-900: #0b1928;
  --background-950: #060d14;

  --primary-50: #e6faff;
  --primary-100: #cdf5fe;
  --primary-200: #9aecfe;
  --primary-300: #68e2fd;
  --primary-400: #35d8fd;
  --primary-500: #03cffc;
  --primary-600: #02a5ca;
  --primary-700: #027c97;
  --primary-800: #015365;
  --primary-900: #012932;
  --primary-950: #001519;

  --border-radius-2: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
}

body {
  color: var(--text);
  background-color: var(--background) !important;
  min-height: 100%;
}

button svg {
  fill: var(--primary-950);
  height: 25px;
  margin-right: 7px;
}

.icon {
  height: 25px;
}

a {
  color: var(--text);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--primary-950);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-400);
  color: var(--primary-950);
  border-color: var(--primary-400);
  box-shadow: 0 5px 15px var(--primary-600);
}

.btn-primary:active {
  background-color: var(--primary-400) !important;
  color: var(--primary-950) !important;
  border-color: var(--primary-400) !important;
}

.btn-secondary {
  background-color: var(--primary-800);
  color: var(--text-100);
  border-color: var(--primary-800);

  svg {
    fill: var(--text-100);
  }
}

.btn-secondary:hover {
  background-color: var(--primary-800);
  color: var(--text-100);
  border-color: var(--primary-800);
  box-shadow: 0 5px 15px var(--primary-900);
}

.btn-secondary:active {
  background-color: var(--primary-800) !important;
  color: var(--text-100) !important;
  border-color: var(--primary-800) !important;
}

.island {
  background-color: var(--background-800);
  border-radius: var(--border-radius-2);
  padding: 1rem;
  max-height: 700px;
}

.bk {
  background-color: var(--background);
}

.bk-dark {
  background-color: var(--background);
}

.bk-ligth {
  background-color: var(--text-100);
}

.bk-spotify-widget {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-radius: 0.75rem;
  background: #0a0d10;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--background-800);
}
